ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #787C86;
}

li {
  float: left;
}

li a {
  display: block;
  color: #F6F7F6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    font-family: 'Arimo', sans-serif;
}

li a:hover {
  background-color: #5C90D1;
}
